In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data.csv', sep=';',decimal=',')

In [3]:
data

       y    x1    x2     x3    x4    x5
0    9.7  1.59  0.26   2.05  0.32  0.14
1    8.4  0.34  0.28   0.46  0.59  0.66
2    9.0  2.53  0.31   2.46  0.30  0.31
3    9.9  4.63  0.40   6.44  0.43  0.59
4    9.6  2.16  0.26   2.16  0.39  0.16
5    8.6  2.16  0.30   2.69  0.32  0.17
6   12.5  0.68  0.29   0.73  0.42  0.23
7    7.6  0.35  0.26   0.42  0.21  0.08
8    6.9  0.52  0.24   0.49  0.20  0.08
9   13.5  3.42  0.31   3.02  1.37  0.73
10   9.7  1.78  0.30   3.19  0.73  0.17
11  10.7  2.40  0.32   3.30  0.25  0.14
12  12.1  9.36  0.40  11.51  0.39  0.38
13   9.7  1.72  0.28   2.26  0.82  0.17
14   7.0  0.59  0.29   0.60  0.13  0.35
15   7.2  0.28  0.26   0.30  0.09  0.15
16   8.2  1.64  0.29   1.44  0.20  0.08
17   8.4  0.09  0.22   0.05  0.43  0.20
18  13.1  0.08  0.25   0.03  0.73  0.20
19   8.7  1.36  0.26   0.17  0.99  0.42

In [4]:
Y = data['y'].values

In [5]:
X = data.drop(columns=['y']).values

In [6]:
b = np.linalg.inv(X.T @ X) @ X.T @ Y

In [7]:
def calc_y(x_v, b_v):
    value = 0
    for x,b in zip(x_v, b_v):
        value += x*b
    return value

In [8]:
y_c = [calc_y(x,b) for x in X]

In [9]:
y_c

[8.470296452173908,
 8.361868193898722,
 9.192802134355276,
 10.911339620821257,
 8.780729552556533,
 9.484398338946313,
 9.581138116487777,
 8.302545166171038,
 7.675617248366945,
 12.70031863981162,
 11.349423259345677,
 9.780161932003004,
 11.300519875889249,
 11.349611035617006,
 7.689947793828554,
 7.44399352527366,
 9.121182015225669,
 7.7390456121977875,
 10.082566575962183,
 10.876430544755467]

In [10]:
#(y-y_c)^2
y_delta = (Y-y_c)**2
with np.printoptions(precision=4, suppress=True):
    print(y_delta)

[1.5122 0.0015 0.0372 1.0228 0.6712 0.7822 8.5198 0.4936 0.6016 0.6395
 2.7206 0.8461 0.6392 2.7212 0.476  0.0595 0.8486 0.4369 9.1049 4.7368]

In [11]:
np.sum(y_delta)

36.871203017784794

In [12]:
b

array([ 0.12267811, 29.36528975, -0.16852548,  4.86806181, -4.08599734])

In [13]:
45.77/15

3.0513333333333335